<template id="docs">
    <style>
        article.main__right {
            background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
            color: #fff;
        }
        .main__title {color:var(--blue);}
        .main__title--contrast {color: var(--blue-dark);}
    </style>
     <h1 class="main__title fancy-font">Docs</h1>
     <p>This is a magical example.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sit eum quam harum obcaecati? Totam provident voluptate quas fuga iste impedit, porro suscipit rerum possimus qui, reprehenderit dolor vel veniam.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consectetur magnam possimus ea nostrum sed tempora reiciendis sit. Vel dolore praesentium quaerat repellat libero commodi voluptatem, magnam numquam id consequatur.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni delectus voluptas, obcaecati fuga exercitationem dignissimos totam. Eos, tempore, doloremque facilis saepe alias earum perferendis reprehenderit suscipit nemo aliquid non! Illo.</p>

</template>