<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <template id="usage">
        <style>
            article.main__right {
                background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
                color: #fff;
            } 
        </style>
        <h1 class="main__title fancy-font">Usage</h1>
        <p>This is a magical example.</p>
        <p>Lorem ipsum elit. Eligendi praesentium ea, totam magnam magni velit. Quae nemo vitae inventore cumque. Neque harum dolore fugiat, dolorem facilis recusandae! Magnam, minima!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus ullam natus veniam voluptatum, deserunt dolore ea fuga nemo vel cumque optio. Iusto eaque nulla voluptatum aut qui.</p>
        <p>Lorem ipsum, dolor  adipisicing elit. Dignissimos magni cumque accusamus quaerat nulla soluta, molestiae deserunt praesentium ipsam laborum excepturi obcaecati unde voluptatem. Odit voluptas ducimus non?</p>
    
    </template>
</body>
</html>
