$page-transition-time: .6s !default;


.sly-page {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.sly-page--current {
	display: block;
	visibility: visible;
	z-index: 1;
}

.sly-page--next {
	display: none;
}
// .sly-page--ontop {
// 	z-index: 2;
// }

/* ANIMATIONS */
/* MOVE from / to  ################################################################# */

.sly-moveToLeft {
	-webkit-animation: moveToLeft $page-transition-time ease both;
	animation: moveToLeft $page-transition-time ease both;
}

.sly-moveFromLeft {
	-webkit-animation: moveFromLeft $page-transition-time ease both;
	animation: moveFromLeft $page-transition-time ease both;
}

.sly-moveToRight {
	-webkit-animation: moveToRight $page-transition-time ease both;
	animation: moveToRight $page-transition-time ease both;
}

.sly-moveFromRight {
	-webkit-animation: moveFromRight $page-transition-time ease both;
	animation: moveFromRight $page-transition-time ease both;
}

.sly-moveToTop {
	-webkit-animation: moveToTop $page-transition-time ease both;
	animation: moveToTop $page-transition-time ease both;
}

.sly-moveFromTop {
	-webkit-animation: moveFromTop $page-transition-time ease both;
	animation: moveFromTop $page-transition-time ease both;
}

.sly-moveToBottom {
	-webkit-animation: moveToBottom $page-transition-time ease both;
	animation: moveToBottom $page-transition-time ease both;
}

.sly-moveFromBottom {
	-webkit-animation: moveFromBottom $page-transition-time ease both;
	animation: moveFromBottom $page-transition-time ease both;
}


/* KEYFRAMES */
/* move from / to  */


@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

// ANIMATIONS
// FADE 
/* fade */

.sly-fade {
	-webkit-animation: fade .7s ease both;
	animation: fade .7s ease both;
}

/* move from / to and fade */

.sly-fadeToLeft {
	-webkit-animation: fadeToLeft .7s ease both;
	animation: fadeToLeft .7s ease both;
}

.sly-fadeFromLeft {
	-webkit-animation: fadeFromLeft .7s ease both;
	animation: fadeFromLeft .7s ease both;
}

.sly-fadeToRight {
	-webkit-animation: fadeToRight .7s ease both;
	animation: fadeToRight .7s ease both;
}

.sly-fadeFromRight {
	-webkit-animation: fadeFromRight .7s ease both;
	animation: fadeFromRight .7s ease both;
}

.sly-fadeToTop {
	-webkit-animation: fadeToTop .7s ease both;
	animation: fadeToTop .7s ease both;
}

.sly-fadeFromTop {
	-webkit-animation: fadeFromTop .7s ease both;
	animation: fadeFromTop .7s ease both;
}

.sly-fadeToBottom {
	-webkit-animation: fadeToBottom .7s ease both;
	animation: fadeToBottom .7s ease both;
}

.sly-fadeFromBottom {
	-webkit-animation: fadeFromBottom .7s ease both;
	animation: fadeFromBottom .7s ease both;
}

// KEYFRAMES
// FADE
/* fade */

@-webkit-keyframes fade {
	from { }
	to { opacity: 0.3; }
}
@keyframes fade {
	from { }
	to { opacity: 0.3; }
}

/* move from / to and fade */

@-webkit-keyframes fadeToLeft {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes fadeToLeft {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes fadeFromLeft {
	from { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes fadeFromLeft {
	from { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes fadeToRight {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes fadeToRight {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes fadeFromRight {
	from { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes fadeFromRight {
	from { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes fadeToTop {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@keyframes fadeToTop {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes fadeFromTop {
	from { opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@keyframes fadeFromTop {
	from { opacity: 0.3; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes fadeToBottom {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(100%); }
}
@keyframes fadeToBottom {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes fadeFromBottom {
	from { opacity: 0.3; -webkit-transform: translateY(100%); }
}
@keyframes fadeFromBottom {
	from { opacity: 0.3; -webkit-transform: translateY(100%); transform: translateY(100%); }
}